<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SubscriptionsTableName" value="Rebus_Subscriptions"/>
		<add key="FilePathForSagaAndTimeOuts" value="C:\Users\PanNiebieski\source\repos\RebusWithNet\7Saga.Saga"/>
	</appSettings>
	<connectionStrings>
		<add name="RebusDatabase" connectionString="server=.; database=rebus_sagademo; trusted_connection=true"/>
	    <add name="RabbitMQ" connectionString="amqp://guest:guest@localhost:5672"/>
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
</configuration>